<div class="wrapper">
    <div class="content-container">
        <div class="christ-connection-container">
            <div class="christ-connection">
                <p class="CC-content"> <span class="header">Christ Connection:</span>{{christConnection}}</p>
            </div>
        </div>
        <div class="sub-wrapper">

            <div class="current-lesson"> Jesus and Zacchaeus</div>
            <div class="connect-info">
                <div class="text">Join Us On Zoom (Tuesday Evenings at 6pm):</div>
                <div class="text">https://us02web.zoom.us/j/2535558117</div>
            </div>
            <div class="past-lessons-container"></div>
            <div class="resources-containser">
                <div class="disclaimer">*Main Content Resource is LifeWay Gosple Project*</div>
            </div>

        </div>

    </div>
</div>