<div class="wrapper">
    <div class="page-content-container">
        <div class="christ-connection-container">
            <div class="img-header"></div>
            <div class="christ-connection" @shutterOut>
                <p class="CC-content"> <span class="header">Christ Connection:</span> {{christConnection}} <span class="cc-ref"> {{refPassage}} </span> </p>
                <button mat-raised-button [disabled]="!activeMeeting" matTooltip="Connect With Us 6pm Tuesdays"  matTooltipPosition="right" class="connect-btn" (click)="onZoomConnect()"> Connect </button>
            </div>
            <button mat-raised-button [disabled]="!activeMeeting" matTooltip="Connect With Us 6pm Tuesdays"  matTooltipPosition="right" class="connect-btn-mobile" (click)="onZoomConnect()"> Connect </button>
            <div *ngIf="!activeMeeting" class="connect-btn-mobile-info">Come Back Tuesday 6pm EST</div>
        </div>
        <div class="sub-wrapper">
            
            <div class="content-container">
                
                <div class="current-lesson"> 
                    <div class="header">Current Lesson: Jesus and Zacchaeus (Luke 19: 1-10)</div>
                    <mat-divider class="horizontal-divider" ></mat-divider>
                    <p>God calls us to express our repentance through exuburant generosity. This is made clear when Jesus compares the 
                        kingdom of God as a treasure found in a field, so precious that the man who finds it is willing to give all he has 
                        to keep it (Matthew 13:44). Or consider Jesus' exhortation in Matthew 10: 5-8 "freely as you have recieved, freely give". The 
                        main point is simply this "store up your treasures in heaven" as opposed to chasing after earthly treasures that will fade away.
                        The focus of our current study is on Zacchaeus, a man who came to understand this kingdom truth well. 
                        Join us as we continue to Delve deeper into the scriptures and 
                        learn from the story of Zacchaeus the preciousness of Gods' grace. 
                    </p>

                </div>
            </div>
            <mat-divider vertical="true" class="vert-divider" ></mat-divider>
            <div class="img-container">
                <div class="current-lesson-img"></div>
                <div class="caption">Luke 19: 1-10</div>
            </div>

        </div>
        <div class="connect-info">
            <div class="circle-container">
                <div class="text">Join Us On Zoom </div>
                <div class="text">Tuesday Evenings</div>
                <div class="text">6pm EST</div>
            </div>
        </div>
        
        <div class="past-lesson-summary-overlay" *ngIf="openLessonView"> 
            <div class="close">
                <button mat-fab matTooltip="Close" matTooltipPosition="right" class="closeDisplayBtn" (click)="onClosePassageDisplay()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <iframe [src]="lessonURL"></iframe>
        </div>
        
        <div class="past-lessons-container">
            <div class="horizontal-scroll-wrapper">
                <div class="lesson-wrapper">
                    <div class="lesson lesson-background-gospel-series" (click)="onViewLesson('https://drive.google.com/file/d/1nOEc272FifiWoO14-u99MMoSSuYytQIO/preview')">
                        <div class="title ">Jesus ignores opposition in order to stay with Zacchaeus</div>
                        <div class="passage">Luke 19:5-7</div>
                    </div>
                    <div class="lesson lesson-background-gospel-series" (click)="onViewLesson('https://drive.google.com/file/d/15S0DFGgGAPRCHWIGsiST2AXfB6xD8aiI/preview')">
                        <div class="title ">Zacchaeus overcomes obstacles in order to see Jesus</div>
                        <div class="passage">Luke 19:1-4</div>
                    </div>
                    <div class="lesson lesson-background-gospel-series" (click)="onViewLesson('https://drive.google.com/file/d/1L6JK_0ler7x-pcj2_NvxRh3kURz4H2j5/preview')">
                        <div class="title"> Mary Praises the Covenant-Keeping God</div>
                        <div class="passage">Luke 1:26-38</div>
                    </div> 
                    
                    <div class="lesson lesson-background-gospel-series" (click)="onViewLesson('https://drive.google.com/file/d/103I9ab77I-6OWMe-b1ribQ8B05BG_bMK/preview')">
                        <div class="title"> Mary Praises the Covenant-Keeping God</div>
                        <div class="passage">Luke 1:46-50</div>
                    </div>
                    <div class="lesson lesson-background-gospel-series" (click)="onViewLesson('https://drive.google.com/file/d/1n9N6HIDH-gVlguZsBTedZ6THU9zRGKbM/preview')">
                        <div class="title"> From Abraham to Jesus</div>
                        <div class="passage">Matthew 1:6-11</div>
                    </div>
                    <div class="lesson lesson-background-gospel-series" (click)="onViewLesson('https://drive.google.com/file/d/1nMB2ooyKWZF3Vm9JYTa2CQDQeePwX9E2/preview')">
                        <div class="title "> From Abraham to Jesus</div>
                        <div class="passage">Matthew 1:1-10</div>
                    </div>
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/10ayQO-NC3HnRghnzr8cmwfRq2YdVkW62/preview')">
                        <div class="title"> God Judges the Egyptians by confronting their false gods.</div>
                        <div class="passage">Exodus 11: 4-8</div>
                    </div>
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/1eNcvp8RknkoRuVxQpYZb62Gvc6bJ3HLz/preview')">
                        <div class="title"> God offers protection through a perfect sacrifice.</div>
                        <div class="passage">Exodus 12: 1-13</div>
                    </div>
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/1QSjSRUjqFd40_r4HUtprCLHyA_trKPB6/preview')">
                        <div class="title"> God’s judgement is severe, and His mercy is great. </div>
                        <div class="passage">Exodus 12:29-32</div>
                    </div>
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/1ZL9sBkHdm2DKEVn4RAcwNlsPlZLkkMv7/preview')">
                        <div class="title"> God is Worthy of praise because of his guidance.</div>
                        <div class="passage">Ex. 13:17-22</div>
                    </div> 
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/1gO4g8iks0vDHW-tm2YD4vEj_J5a8jUQw/preview')">
                        <div class="title"> God is worthy of praise because of his glory. </div>
                        <div class="passage">Exodus 14: 1-14</div>
                    </div>
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/1tmuzSwzyd-B2eaFfwgS8rEz9IUhi-Th6/preview')">
                        <div class="title"> Do we believe that we deserve God’s provision? </div>
                        <div class="passage">Exodus 17:1-2</div>
                    </div> 
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/1Ek5T7RSuTM1jiIh-bycplEfXMqfrJpfc/preview')">
                        <div class="title"> Do we believe God is good? </div>
                        <div class="passage">Exodus 17: 3-4</div>
                    </div>
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/16_ApDHfZY8KYCaOhKU2f5oxuh1xEI6C4/preview')">
                        <div class="title"> Do we believe God is with us? </div>
                        <div class="passage">Exodus 17: 5-7 ; 1 Corinthians 10:1-6 </div>
                    </div> 
                    
                    <div class="lesson lesson-background-exodus-series" (click)="onViewLesson('https://drive.google.com/file/d/1AB3fs43F9fdYAXQvbUZUTqgwNgwbyE7W/preview')">
                        <div class="title"> Idol worshipers distort true worship </div>
                        <div class="passage">Exodus 32:1-6</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="resources-container">
            <div class="disclaimer">*Main Content Resource is LifeWay Gosple Project*</div>
        </div>
    </div>
</div>