@import "../../../theme.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .christ-connection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;

    .img-header {
      width: 100%;
      height: 45vh;
      background: $appCrimson;
      background-image: url("../../../assets/bible-study-pic.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-blend-mode: hard-light;
    }
    .christ-connection {
      display: flex;
      position: absolute;
      height: fit-content;
      width: 55%;
      background: $appCrimson;
      color: floralwhite;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

      opacity: 0.8;
      border-radius: 45px;
      padding: 32px;
      margin-top: 32px;

      .header {
        font-weight: 500;
        font-size: 1.5rem;
        &:before {
          content: "\00a0 "; // adds a white space
        }
        &:after {
          content: "\00a0 "; // adds a white space
        }
      }

      .CC-content {
        font-size: 1.3rem;
        line-height: 32px;
        align-self: center;
        overflow-y: auto;
        @include set-text-shadow($appBlack);
      }
      .connect-btn {
        align-self: flex-end;
        background: $appBronze;
        color: floralwhite;
        @include set-text-shadow($appCrimson);
        width: 30em;
        height: 60px;
        left: 55px;
        bottom: -55px;
        border-radius: inherit;

        border: goldenrod;
        border-radius: 100px;
        border-style: ridge;
        border-width: medium;

        &:hover {
          box-shadow: 0px 0px 25px 20px gold;
        }
      }
    }
  }

  .sub-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    padding: 64px;

    .img-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      padding: 16px;
      background: $appCrimson;
      border-radius: 16px;
      box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset,
        rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
      img {
        width: 100%;
        height: 90%;
      }

      .caption {
        width: 100%;
        height: 10%;
        opacity: 0.5;
        background: $appBlack;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        line-height: 45px;
        @include set-text-shadow(grey);
      }
    }

    .vert-divider {
      margin-top: 48px;
      margin-bottom: 48px;
      margin-right: 16px;
      margin-left: 16px;
      background-color: $appBlue;
      border-right-width: 4px;
      border-right-style: ridge;
    }

    .content-container {
      width: 50%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px;

      .current-lesson {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        @include set-text-shadow-with-glow($appBronze);
        .header {
          text-align-last: center;
          margin-bottom: 32px;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.2;
          text-align: center;
        }

        .horizontal-divider {
          border-top-width: 2px;
          margin-bottom: 32px;
          margin-left: 64px;
          margin-right: 64px;
        }

        p {
          font-size: 1.3rem;
          line-height: 45px;
        }
      }

    }
  }
  .connect-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    // height: 500px;

    .circle-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
      border-radius: 50%;
      width: 450px;
      height: 450px;

      // animation: bounce 900ms infinite 
    }

    .text {
      font-size: 1.4rem;
      line-height: 1.5;
      font-weight: 500;
    }
  }

  .past-lesson-summary-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(37, 45, 80, 0.8);

    .close {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .closeDisplayBtn {
        margin-right: 8px;
        background: floralwhite;
        opacity: 0.8;
      }
    }
    iframe {
      height: 90vh;
      width: 90%;
    }
    a {
      display: none;
    }
  }

  .past-lessons-container {
    width: 100%;
    height: 550vh;
    position: relative;
    background: $appCrimson;
    background-image: url("../../../assets/lamp-5.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;

    box-shadow: rgb(249 171 0 / 23%) 0px 30px 60px -12px inset,
      #ff9800 0px 18px 36px -18px inset;

    .horizontal-scroll-wrapper {
      position: sticky;
      top: 245px;
      width: 100%;
      overflow: hidden;

      .lesson-wrapper {
        display: flex;
        width: fit-content;
        .lesson {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 16px;
          width: 320px;
          height: 320px;
          margin: 16px;
          border-radius: 32px;
          box-shadow: -15px 24px 31px -20px rgba(127, 132, 145, 1);

          // Set background image
          background: $appBronze;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          color: floralwhite;
          @include set-text-shadow($appBronze);
          font-size: 1.2rem;
          cursor: pointer;

          &:hover {
            box-shadow: inset -13px -8px 104px -25px rgba(28, 157, 255, 0.87);
          }

          .title {
            text-align: center;
            margin-bottom: 16px;
            line-height: 24px;
          }
          .passage {
            text-align: center;
          }
        }
        .lesson-background-gospel-series {
          background-image: url("../../../assets/gospel-series.png");
          background-repeat: no-repeat;
          background-size: cover;
        }

        .lesson-background-exodus-series {
          background-image: url("../../../assets/exodus-series.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .resources-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: 45vh;
    color: floralwhite;
    @include set-text-shadow($appCrimson);
    background: $appBlack;
  }

  @media only screen and (max-width: 950px) {
    .christ-connection-container {
      position: unset;
      height: 80vh;
      justify-content: space-between;
      box-shadow: none;

      .img-header {
        box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px,
          rgb(0 0 0 / 22%) 0px 10px 10px;
      }
      .christ-connection {
        position: relative;
        height: fit-content;
        width: 95%;
        padding: 16px;
        border-radius: 32px;

        .CC-content {
          font-size: 1rem;
        }
        .connect-btn {
          position: absolute;
          bottom: -108px;
          font-size: 1.6rem;
          width: 10em;
          // to center an absolutely position element
          left: 0;
          right: 0;
          margin: auto;

          animation-name: btn-pulse;
          animation-duration: 850ms;
          animation-delay: 0.2s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-out;
        }
      }
    }

    .sub-wrapper {
      padding: 8px;
      margin-top: 135px;
      flex-direction: column-reverse;
      height: fit-content;
      width: 100%;
      background: floralwhite;
      border-radius: 4px;
      mat-divider {
        display: none;
      }
      .content-container {
        width: 100%;
        height: fit-content;
        overflow: none;
      }
      .img-container {
        width: 100%;
        margin-bottom: 32px;
      }
    }
    .connect-info {
      background: floralwhite;
      .circle-container {
        .text {
          font-size: 1rem;
        }
      }
    }
    .past-lesson-summary-overlay {
      a {
        display: flex;
        font-weight: bold;
        color: gold;
        font-size: 3rem;
        position: absolute;
      }
    }
    .past-lessons-container {
      background-image: url("../../../assets/lamp-mobile.png");
      height: 950vh;

      .horizontal-scroll-wrapper {
        top: 260px;
      }
    }

    .resources-container {
      .disclaimer {
        font-size: 0.8rem;
      }
    }
  }

  @media only screen and (max-height: 750px) and (min-height: 600px) {
    .past-lessons-container {
      .horizontal-scroll-wrapper {
        top: 200px;
      }
    }
  }
}
