@import "../../../theme.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .christ-connection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vh;
    background: $appCrimson;
    background-image: url("../../../assets/bible-study-pic.png");
    background-attachment: fixed;
    background-size: contain;
    background-blend-mode: hard-light;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;

    .christ-connection {
      display: flex;
      height: 50%;
      width: 55%;
      background: $appCrimson;
      color: floralwhite;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

      opacity: 0.8;
      border-radius: 45px;
      padding: 32px;

      .header {
        font-weight: 500;
        font-size: 1.5rem;
        &:before {
          content: "\00a0 "; // adds a white space
        }
        &:after {
          content: "\00a0 "; // adds a white space
        }
      }

      .CC-content {
        font-size: 1.3rem;
        line-height: 32px;
        align-self: center;
        overflow-y: auto;
        @include set-text-shadow($appBlack);
      }
      .connect-btn {
        align-self: flex-end;
        background: $appBronze;
        color: floralwhite;
        @include set-text-shadow($appCrimson);
        width: 200px;
        height: 60px;
        left: 55px;
        bottom: -55px;
        border-radius: inherit;

        &:hover {
          box-shadow: 0px 0px 25px 20px gold;
        }
      }
    }
  }

  .sub-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding: 64px;

    .img-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      padding: 16px;
      background: $appCrimson;
      border-radius: 16px;
      box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset,
        rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
      img {
        width: 100%;
        height: 90%;
      }

      .caption {
        width: 100%;
        height: 10%;
        opacity: 0.5;
        background: $appBlack;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        line-height: 45px;
        @include set-text-shadow(grey);
      }
    }

    .vert-divider {
      margin-top: 48px;
      margin-bottom: 48px;
      margin-right: 16px;
      margin-left: 16px;
      background-color: $appBlue;
      border-right-width: 4px;
      border-right-style: ridge;
    }

    .content-container {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px;
      overflow-y: auto;

      .current-lesson {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        @include set-text-shadow-with-glow($appBronze);
        .header {
          text-align-last: center;
          margin-bottom: 32px;
          font-size: 1.5rem;
          font-weight: 500;
        }

        .horizontal-divider {
          border-top-width: 2px;
          margin-bottom: 32px;
          margin-left: 64px;
          margin-right: 64px;
        }

        p {
            font-size: 1.3rem;
            line-height: 45px;
        }
      }

      .connect-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .past-lessons-container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    //padding: 32px;
    width: 100%;
    height: 300vh;
    position: relative;
    background: $appCrimson;
    box-shadow: rgb(249 171 0 / 23%) 0px 30px 60px -12px inset,
      #ff9800 0px 18px 36px -18px inset;

      .horizontal-scroll-wrapper {
        position: sticky;
        top: 0;
        width: 100%;
        overflow: hidden;
        
        .lesson-wrapper {
            display: flex;
            width: fit-content;
              .lesson {
                width: 320px;
                height: 320px;
                margin: 16px;
                border-radius: 32px;
                box-shadow: -15px 24px 31px -20px rgba(127, 132, 145, 1);  
               
                // Set background image
                background: $appBronze;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
        
                &:hover {
                    box-shadow: inset -13px -8px 104px -25px rgba(28, 157, 255, 0.87);
                } 
            }
          }
      }

      
      
    }
    
    .resources-container {
      width: 100%;
      height: 100vh;
      background: $appBlack;
    }
}
