<div class="wrapper">
    
    <div class="header-container">
        <div class="overlay">
            <div class="text">Welcome!</div>
            <div class="text">Come taste and see that the LORD is good.</div>
            <!-- <button mat-raised-button class="discover-btn" (click)="goToAboutUs()"> Discover </button> -->
            <button mat-raised-button class="delve-btn" (click)="goToBibleStudy()"> Delve </button>
        </div>
        <div class="header-img"></div> <!--// “Under Vanilla Skies” by Lori McNee © 2009  -->        
    </div>
   
    <div class="info-container" @slideUp>
        <p class="section-content"> <span class="section-title">Christ Connection:</span>{{currentLesson.christConnection}}</p>
        <h6 class="cc-ref">{{currentLesson.refPassage}}</h6>
    </div>
</div>