@import "../../../theme.scss";

.wrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 128px;

  .header-container {
    display: flex;
    justify-content: center;
    position: relative;

    .overlay {
      position: absolute;
      box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
      backdrop-filter: blur(4px);
      width: 100%;
      height: 70vh;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

      padding: 16px;

      .text {
        font-weight: bold;
        color: floralwhite;
        @include set-text-shadow(black);
        line-height: 1.5;
        text-align: center;
        font-size: 2rem;
        opacity: 0.8;
        cursor: default;
      }
      .delve-btn {
        border-radius: 45px;
        color: goldenrod;
        background: floralwhite;
        @include set-text-shadow(gray);
        padding: 16px;
        font-size: 32px;
        animation-name: btn-pulse;
        animation-duration: 850ms;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        &:hover {
          @keyframes to-init-size {
            to {
              transform: scale(1);
            }
          }
          animation-name: to-init-size;
          animation-duration: 850ms;
          animation-delay: 0.5s;
          animation-iteration-count: 1;
          animation-timing-function: ease-out;
        }
      }
    }
    .header-img {
      background-image: url("../../../assets/Under-Vanilla-Skies.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      width: 100%;
      height: 69vh;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    background: goldenrod;
    color: floralwhite;
    position: relative;
    align-self: center;
    bottom: 30px;
    width: 80%;
    height: fit-content;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    padding: 16px;
    .section-title {
      font-weight: 500;
      font-size: 1.5rem;
      text-decoration-line: underline;
      &:before {
        // content: "\00a0 "; // adds a white space
      }
      &:after {
       // content: "\00a0 "; // adds a white space
      }
    }

    .section-content {
      font-size: 1.3rem;
      line-height: 32px;
    }
    .cc-ref {
      font-size: 1.3rem;
      align-self: flex-end;
    }

    // .discover-btn {
    //   border-radius: 45px;
    //   color: goldenrod;
    //   background: floralwhite;
    //   transition: 150ms linear;
    //   align-self: flex-end;
    //   &:hover {
    //     transform: scale(1.1);
    //   }
    // }
  }

  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .header-container {
      .overlay {
        .text {
          font-size: 1.5rem;
        }
      }
    }

    .info-container {
      .section-title {
        font-size: 1.1rem;
      }
      .section-content, .cc-ref {
        font-size: 1rem;
      }
    }
  }

  @media only screen and (max-height: 320px) and (orientation: landscape) {
    .header-container {
      margin-bottom: 32px;
    }

    .info-container {
      bottom: 0px;
    }
  }
}
