@import '../../../../theme.scss';

.footer{
    display: flex;
    flex-direction: row;
    margin: 8px;
    height: 45px;
    width: 100%;


    .mat-stroked-button {
        background: $appBeige;
    }

    #passageDisplay{
        justify-self: center;
    }
    
    .passage {
        font-size: 1.3rem;
        font-style: italic;
        margin-left: 16px;
        margin-right: 16px;
        align-self: center;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    
        .text {
            @include set-text-shadow(gray);
            color: black;
        }
    }
}

