@import "../theme.scss";

.wrapper {
  height: 100vh;
  width: 100%;
  .background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    nav-bar {
      // display: flex;
      // align-self: center;
      // width: 100%;
    }

    ::ng-deep about-us,
    ::ng-deep home-page,
    ::ng-deep bible-study,
    ::ng-deep fellowship-page,
    ::ng-deep prayer-night {
      height: 100vh;
      overflow: auto;
      // scroll-behavior: smooth;
    }

    footer {
      position: fixed;
      bottom: 0px;
      width: 100%;
      z-index: 2;
    }
  }
}
