@import "../../../theme.scss";

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  .content-container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: floralwhite;
    overflow: auto;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
      rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
      rgb(0 0 0 / 9%) 0px -3px 5px;

    mat-divider {
      margin-top: 64px;
      margin-bottom: 64x;
      margin-right: 80px;
    }

    .mission-statement,
    .stewards,
    .church-info {
      margin: 32px;
    }
    .sec-header {
      font-weight: bold;
      text-decoration: underline;
      font-family: "Lobster", cursive;
      color: $appCrimson;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
      font-size: 2.5rem;
    }

    .mission-statement {
      height: 100vh;
      display: flex;
      flex-direction: column;
      .text {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 1.5;
        span.highlight {
          letter-spacing: 1px;
          &:before {
            content: "\00a0 "; // adds a white space
          }
          &:after {
            content: "\00a0 "; // adds a white space
          }
          color: $appBlue;
          @include set-text-shadow(floralwhite);
        }
      }
    }

    .stewards {
      .content {
        mat-card:nth-child(even) {
          flex-direction: row-reverse;
          box-shadow: 9px 0px 0px rgb(0 0 0 / 20%),
            0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 90%);
        }

        .mat-card {
          display: flex;
          background: transparent;
          transition: all 1s;
          transform: translateX(-100%);
          opacity: 0;
          margin-bottom: 64px;
          box-shadow: -9px 0px 0px rgb(0 0 0 / 20%),
            0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 90%);
          font-weight: 500;
          .img {
            border: goldenrod;
            border-radius: 100px;
            border-style: inset;
            border-width: medium;
            width: 200px;
            height: 200px;
          }
          &.card-one {
            .img {
              background-image: url('../../../assets/Rachelle3.jpg');
              background-size: cover;
            }
          }
          &.card-two {
            .img {
              background-image: url('../../../assets/christie.jpg');
              background-size: cover;
            }
          }
          &.card-three {
            .img {
              background-image: url('../../../assets/Christine.jpg');
              background-size: cover;
            }
          }
          &.card-four {
            .img {
              background-image: url('../../../assets/jeffly1.jpg');
              background-size: cover;
            }
          }
          figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            figcaption {
              text-align: center;
              @include set-text-shadow($appBronze);
              font-size: 1.2rem;
              font-style: italic;
            }
          }
          .mat-card-content {
            margin: 16px;
          }
        }
      }
    }

    .church-info {
      display: flex;
      flex-direction: column;

      .content {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 1rem;
        font-weight: 500;

        .sub-header {
          font-weight: bold;
          text-decoration: underline;
          font-size: 1.3rem;
          font-family: "Lobster", cursive;
          color: $appCrimson;
          margin-bottom: 8px;
          font-size: 1.2rem;
        }
        .contact {
          display: flex;
          flex-direction: column;
          .address {
            display: flex;
            flex-direction: column;
            .text {
              margin-bottom: 8px;
            }
          }
        }

        .join {
          border-left: #51a9bc;
          border-left-style: ridge;
          border-left-width: thick;
          padding-left: 16px;
          .section-one {
            display: flex;
            flex-direction: column;
            .text {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 480px) and (orientation: portrait) {
    overflow-y: hidden;
    .content-container {
      width: 100%;
      .sec-header {
        font-size: 2rem;
      }

      .mission-statement,
      .stewards,
      .church-info {
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
      }

      .mission-statement {
        margin-top: 45px;
      }

      .stewards {
        .content {
          mat-card:nth-child(even) {
            flex-direction: column;
          }
          .mat-card {
            flex-direction: column;
          }
        }
      }

      .church-info {
        .content {
          flex-direction: column;

          .contact {
            margin-bottom: 32px;
            padding: 8px;
          }
          .join {
            border: none;
            padding: 8px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    overflow-y: hidden;
    .content-container {
      width: 100%;
      .sec-header {
        // font-size: 2rem;
      }

      .stewards {
        .content {
          mat-card:nth-child(even) {
            flex-direction: column;
          }
          .mat-card {
            flex-direction: column;
          }
        }
      }
    }
  }
}
