<div class="wrapper">
  <div class="content-container">
    <div class="mission-statement">
      <div class="sec-header">Mission Statement</div>
      <div class="content">
        <p class="text">
          Our mission is to
          <span class="highlight" style="font-weight: bold">Delve </span> deeper
          into God's Word.
        
        
          <span class="highlight" style="font-weight: bold"> Discussing </span>
          and
          <span class="highlight" style="font-weight: bold"> Dissecting </span>
          His scriptures to gain a better understanding of Him.
       
        
          As we continue to
          <span class="highlight" style="font-weight: bold"> Digest </span> the
          bread of life, we strive to apply His wisdom in our everyday lives.
       
        
          Continually
          <span class="highlight" style="font-weight: bold"> Developing </span>
          spiritually and growing as
          <span class="highlight" style="font-weight: bold"> Disciples </span>
          of Christ.
        </p>
      </div>
    </div>

    <mat-divider [inset]="true" ></mat-divider>

    <div class="stewards">
      <div class="sec-header">Meet The Stewards</div>
      <div class="content">
        <mat-card class="card-one">
          <figure>
            <div class="img"></div>
            <figcaption>Rachelle</figcaption>
          </figure>
          <mat-card-content>
            <p>
              Hello, my name is Rachelle.
            </p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="card-two">
          <figure>
            <div class="img"></div>
            <figcaption>Christie</figcaption>
          </figure>

          <mat-card-content>
            <p>
              Hello, my name is Christie.
            </p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="card-three">
          <figure>
            <div class="img"></div>
            <figcaption>Christine</figcaption>
          </figure>

          <mat-card-content>
            <p>
              Hello, my name is Christine.
            </p>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="card-four">
          <figure>
            <div class="img"></div>
            <figcaption>Jeffly</figcaption>
          </figure>

          <mat-card-content>
            <p>
              Hello, my name is Jeffly.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
    
    <mat-divider [inset]="true" ></mat-divider>
    
    <div class="church-info">
      <!-- <div class="sec-header"></div> -->
      <div class="content">
       
        <div class="contact">
          <div class="sub-header">Church Address</div>
          <div class="address">
              <div class="text">French Speaking Baptist Church of White Plains</div>
              <div class="text">237 Ferris Avenue, White Plains, New York</div>
              <div class="text">(914) 946-1117</div>
          </div>
        </div>
       
        <div class="join">
          <div class="sub-header">Connect With Us</div>
          <div class="section-one">
            <div class="text">Join Us On Zoom</div>
            <div class="text">Tuesday Evenings 6pm EST</div>
            <a class="connect-link" [ngClass]="{'disabled': !activeMeeting}" (click)="onZoomConnect()">Connect</a>
          </div>
        </div>
     
    </div>
    </div>
  </div>
</div>
