@import "../../../theme.scss";

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  .content-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: floralwhite;
    overflow: auto;

    mat-divider {
        margin-top: 32px;
        margin-bottom: 32px;
        margin-right: 80px;
    }

    .mission-statement,
    .stewards,
    .church-info {
      margin: 32px;
    }
    .sec-header {
      font-weight: bold;
      text-decoration: underline;
      font-size: 1.3rem;
      font-family: "Lobster", cursive;
      color: $appCrimson;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
      font-size: 1.5rem;
    }

    .mission-statement {
      .text {
        margin-bottom: 8px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        span.highlight {
            &:before {
                content:  "\00a0 "; // adds a white space 
            }
            &:after {
                content:  "\00a0 "; // adds a white space 
            }
          color: $appBlue;
        }
      }
    }

    .stewards {
      .content {
        mat-card:nth-child(even) {
          flex-direction: row-reverse;
        }

        .mat-card {
          display: flex;
          background: transparent;
          margin-bottom: 64px;
          box-shadow: -9px 0px 0px rgb(0 0 0 / 20%),
            0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 90%);
          font-weight: 500;
          img {
            border: goldenrod;
            border-radius: 100px;
            border-style: inset;
            border-width: medium;
            width: 200px;
            height: 200px;
          }
          figcaption {
            text-align: center;
            @include set-text-shadow($appBronze);
            font-size: 1.2rem;
            font-style: italic;
          }
          .mat-card-content {
            margin: 16px;
          }
        }
      }
    }

    .church-info {
      display: flex;
      flex-direction: column;

      .content {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 1rem;
        font-weight: 500;

        .sub-header {
          font-weight: bold;
          text-decoration: underline;
          font-size: 1.3rem;
          font-family: "Lobster", cursive;
          color: $appCrimson;
          margin-bottom: 8px;
          font-size: 1.2rem;
        }
        .contact {
          display: flex;
          flex-direction: column;
          .address {
            display: flex;
            flex-direction: column;
          }
        }

        .join {
          border-left: #51a9bc;
          border-left-style: ridge;
          border-left-width: thick;
          padding-left: 16px;
          .section-one {
            display: flex;
            .text:nth-child(2) {
              margin-left: 16px;
            }
          }
        }
      }
    }
  }
}
