*, *::before, *::after {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

#commonBackdrop{
 height: -webkit-fill-available;
 // background-image: url("assets/background.jpg"); 
 background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 background-repeat: no-repeat;  
 background-size: cover;
}
