@use '@angular/material' as mat;
@import '@angular/material/theming';
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$app-primary: mat.define-palette(mat.$cyan-palette);
$app-accent:  mat.define-palette(mat.$amber-palette);
$app-warn:    mat.define-palette(mat.$orange-palette);

$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);

@include mat.all-legacy-component-themes($app-theme);

/* Application Color Pallete */
$appBronze: rgba(172, 122, 71, 1);
$appBlue: rgba(81, 169, 188, 1);
$appBlack: rgba(22, 23, 30, 1);
$appCrimson: rgba(93, 22, 26, 1);
$appBeige: rgba(254, 230, 206, 1);


/*Mixins*/
@mixin set-text-shadow($color) {
    text-shadow: $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px,
    $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px,
    $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px,
    $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px;;
}
@mixin set-text-shadow-with-glow($color) {
    text-shadow: $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px,
    $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px,
    $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px,
    $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 1px, $color 0px 0px 30px;;
}




/*CSS Animations*/

@keyframes btn-pulse {
    0% {
      transform: scale(1); /* Start at Initial Size */
    }
    25% {
      transform: scale(1.1); /* increasing the size */
    }
    50% {
      transform: scale(1.2); /* increasing the size */
    }
    75% {
      transform: scale(1.1); /* deacreasing the size */
    }
    100% {
      transform: scale(1); /* seeting back to initial size */
    }
  }

@keyframes bounce {
    0% {
      height: 450px ; 
      width: 450px;
    }
    25% {
      height: 450px; 
      width: 400px;
    }
    50% {
      height: 375px; 
      width: 460px;
      transform:translateY(-15px)
    }
    75% {
      height: 400px; 
      width: 450px;
    }
    100% {

      transform:translateY(0px)
    }
  }
// @keyframes bounce-shadow {
//     0% {
//       transform: scale(1); __<<ngThemingMigrationEscapedComment8>>__
//     }
//     25% {
//       transform: scale(1.1); __<<ngThemingMigrationEscapedComment9>>__
//     }
//     50% {
//       transform: scale(1.2); __<<ngThemingMigrationEscapedComment10>>__
//     }
//     75% {
//       transform: scale(1.1); __<<ngThemingMigrationEscapedComment11>>__
//     }
//     100% {
//       transform: scale(1); __<<ngThemingMigrationEscapedComment12>>__
//     }
//   }