<div class="footer" id="footer">
    <!-- <button mat-fab id="passageDisplay" (click)="onDisplayPassage()">
        <mat-icon>menu_book</mat-icon>
    </button> -->
    
    <div class="passage">
        <p class="text">{{passage.text}}</p>
    </div>
 
    <div class="ref-container">
        <div class="reference">{{passage.reference}}</div>
        <button mat-mini-fab class="close" (click)="onClosePassageDisiplay()">
            <mat-icon>close</mat-icon>
        </button>
        

    </div>
</div>