@import "../../../theme.scss";

.footer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: $appCrimson;
  opacity: 0.8;
  padding-top: 8px;
  padding-bottom: 8px;

  .mat-stroked-button {
    background: $appBeige;
  }

  #passageDisplay {
    justify-self: center;
  }

  .passage {
    font-size: 1.3rem;
    font-style: italic;
    margin-left: 16px;
    margin-right: 16px;
    align-self: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .text {
      @include set-text-shadow(gray);
      color: whitesmoke;
      display: flex;
      justify-content: center;
      text-align: center;
      height: 100%;
      width: 100%;
      flex-wrap: nowrap;
    }
  }

  .ref-container {
    display: flex;

    height: 100%;
    .close {
      bottom: 24px;
      right: 8px;
      background: black;
      opacity: 0.9;

      mat-icon {
        color: $appBronze;
      }
    }

    .reference {
      @include set-text-shadow(gray);
      color: whitesmoke;
      font-size: 1rem;
      border-left: $appBlue;
      border-left-style: groove;
      border-left-width: thick;
      padding-left: 8px;
    }
  }

  @media only screen and (max-width: 480px) and (orientation: portrait) {
    // height: 85vh;
    flex-direction: column-reverse;
    opacity: 0.95;
    .passage {
      padding: 8px;
      .text {
        line-height: 1.5;
        font-size: 2rem;
      }
    }
    .ref-container {
      height: fit-content;
      justify-content: space-between;

      .reference {
        border: none;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }

  @media only screen and (max-width: 767px) and (orientation: landscape) {
    opacity: 0.95;
    .passage {
      .text {
        align-items: center;
      }
    }
    .ref-container {
      .reference {
        border: none;
        align-self: center;
      }
    }
  }
}
